.idea
.nyc_output
.vscode
.DS_Store
.DS_Store
bigdata_docker/data
Python/trabalho-titanic-fiap/env
Python/trabalho-titanic-fiap/__pycache__
Python/Trabalho_Plataformas_Cognitivas/env
Python/Trabalho_Plataformas_Cognitivas/__pycache__
PlataformasCognitivas/R/Trabalho_Inadinplencia/.Rproj.user
PlataformasCognitivas/R/Trabalho_Inadinplencia/.Rhistory
PlataformasCognitivas/R/Trabalho_Inadinplencia/.RData
PlataformasCognitivas/R/Trabalho_Inadinplencia/.Ruserdata
.Rproj.user
